@import url("normalize.min.css");
@import url("stylesheet.css");
/* ==========================================================================
   
   ========================================================================== */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
textarea {
  resize: vertical;
}


/* ===================

   =================== */

body#top {
  background-repeat: no-repeat;
  background-position:0 0px;
}

#sp-layout-body-part {
  position: relative;
}

.header-container {
  position: relative;
  height: 192px;
  /*background:#FFF url("../imgDesign/deco-bandeau.png") bottom right no-repeat;*/
  border-bottom:0;
  text-align:center;
}

#logo-header {
  background: url("../imgDesign/logo.png") no-repeat scroll 0 0 #fff;
  height: 113px;
  left: 23px;
  position: absolute;
  top: 57px;
  width: 150px;
  z-index: 100;
}

#logo-header img {
  display:none;
}

#topar-header {
  background:#e2e2e2 url() top left repeat-x;
  border-bottom: 1px solid #ccc;
  height:42px;
}

.btn-header{
  background-color:#fff;
  border:1px solid #ccc;
  display:block;
  padding:0 0.5em 0 0.5em;
  color:#2f3135;
  position:relative;
  height:23px;
  line-height:23px;
  float:left;
  margin-right:8px;
  overflow:hidden;
  width:150px;
}
.btn-header a {
  color:#2f3135;
}

.btn-header > a {
  color:#2f3135;
}

#notification-count.btn-header {
  background-color:#61a0b8;
  padding-right:0.5em;
}
#notification-count.btn-header a{
  color: #FFF !important;
  font-weight: bold;
}

.btn-header a span {
  border-right:1px solid #61a0b8;
  padding-right:0.5em;
}
/* The CSS */
.select-header select {
  font-family:"Century Gothic","Trebuchet MS",Arial, sans serif;
  padding:0 3px 0 0;
  margin: 0;
  background: #fff;
  color:#2f3135;
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  min-height:22px;
  width:190px;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .select-header select {padding-right:27px}
}

label.select-header {
  position:relative;
  padding: 0;
}
label.select-header:after {

}
label.select-header:before {
  content:'';
  display:inline-block;
  background:#fff url(../imgDesign/arrow_down.png) no-repeat 8px 7px;
  vertical-align:middle;
  font-size:0;
  left:130px;
  top:1px;
  line-height:20px;
  width:20px;
  height:18px;
  position:absolute;
  pointer-events:none;
  display:block;
  color:#2f3135;
  white-space: pre-wrap;
}

.sp_button.logOn,
.header-container #infoConnection .sp_button.logOn {
  padding:0.25em 1em;
  text-transform:inherit;
}
.header-container #infoConnection .sp_button.logOn span {
  font-size:12px
}

.header-container #infoConnection {
  color: #262626;
  left: 0;
  position: absolute;
  top: 0;
  padding:8px 174px 0 40px;
  /*background:transparent url(../imgDesign/outlook.png) top right no-repeat;*/
}

.header-container #infoConnection .avatarName  {
  position:relative;
  display: inline-block;
  float:left;
}
.header-container #infoConnection .avatarName .btn-header  {
  width:auto;
}
.header-container #avatar-img {
  position:absolute;
  top:5px;
  left:5px;
  border:1px solid #c8c8c8;
  width:20px;
  margin-right:1em;
}

.header-container #outils li#connectedUsers a {
  text-indent:0;
  display:inline-block;
  width:auto;
  padding-right:25px;
}

.header-container #infoConnection #show-menu-spacePerso {
  background:transparent url("../imgDesign/packImages.png") 0 -4px no-repeat ;
  opacity:0.5;
  display:inline-block;
  width:25px;
  height:20px;
  text-indent:-3000px;
}

.header-container #infoConnection #show-menu-spacePerso:hover {
  opacity:1;
}

.spacePerso{
  display:none;
}

#infoConnection {
  color:#262626;
}

#infoConnection ul {
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 9pt;
  left: 0;
  right: 0;
  min-width:150px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: left;
  top:23px;
  white-space: nowrap;
  z-index:104;
}
#infoConnection ul li {
  padding:0;
  margin:0;
}
#infoConnection ul li a {
  color:#2f3135;
  font-size:9pt;
  display:block;
  padding:5px;
}
#infoConnection ul li a:hover, #infoConnection .directoryLink:hover, #infoConnection .logOut:hover {
  background-color:#0078d7;
  color:#FFF
}

.header-container #outils {
  bottom: auto;
  top:0x;
  color: #fff;
  position: absolute;
  right: 10px;
  left:auto;
  text-align: left;
  width: auto;
  padding:0;
  margin:0;
}
.header-container #outils li {
  display:inline-block;
  margin: 0;
  padding: 0;
  padding-top:8px;
  padding-right:10px
}

.header-container #outils li a {
  color:#222;
  text-indent:-3000px;
  display:inline-block;
  width:1px;
  height:30px
}

.header-container #outils li a,
#search-zone-header a {
  opacity:0.8;
}
.header-container #outils li a:hover,
#search-zone-header a:hover {
  opacity:1;
}

.header-container #outils li a#connectedUsers {

}
.header-container #map-link-header {

}
.header-container #map-link-header a{
  background:transparent url(../imgDesign/packImages.png) -3px -250px no-repeat;
  padding-left:25px;
}

.header-container #help-link-header  {

}
.header-container #help-link-header a {
  background:transparent url(../imgDesign/packImages.png) -2px -44px no-repeat;
  padding-left:25px;
}

.header-container #directory-link-header  {

}
.header-container #directory-link-header a {
  background:transparent url(../imgDesign/packImages.png) 0 -283px no-repeat;
  padding-left:25px;
}

.header-container #adminstration-link-header  {

}
.header-container #adminstration-link-header  a {
  background:transparent url(../imgDesign/packImages.png) 0 -84px no-repeat;
  padding-left:25px;
}


.header-container h1 {
  display:none;
}

#search-zone-header {
  position: relative;
  margin:78px auto 0 auto;
  display:inline-block;
  background-color:transparent;
  border-bottom:0;
  height:49px;
  padding:7px 1em 0;
}

#search-form-header a {
  opacity:1 !important;
  padding:0 0.5em;
}

#search-zone-header a,
#search-zone-header label {
  color: #2a2a2a;
  margin:0;
}
#search-zone-header > a {
  padding:4px 0 0 5px;
  float:right;
  line-height: 24px;
}
#search-zone-header > * {
  display: inline-block;
  color:#222;
}
#search-form-header {
  display:inline-block;
}

/* pour les 2 type d'input platforme et directory */
#search-form-header .selectize-control{
  border:0;
}
#search-form-header input ,
#search-form-header .selectize-control input{
  border:1px solid #ccc !important;
  background:#fff url() ;
  padding:0 8px;
  margin:0;
  width:200px !important;
  height:29px;
  color:#999;
  font-size:13px;
  vertical-align:middle;
  padding:0 8px  !important;
}

#search-form-header a {
  color:#FFF;
  display:inline-block;
  font-weight:bold;
  height:29px;
  line-height:29px;
  min-width:54px;
  padding:0 8px;
  text-align:center;
  -moz-border-radius:2px;
  border-radius:2px;
  -moz-user-select:-moz-none
  border:1px solid transparent;
  border-bottom-left-radius:0;
  border-top-left-radius:0;
  height:30px;
  margin:0;
  outline:none;
  padding:0 0;
  width:60px;
  -moz-box-shadow:none;
  box-shadow:none;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  background:#61a0b8;
  background:-moz-linear-gradient(top,#4387fd,#4683ea);
  background:linear-gradient(top,#4387fd,#4683ea);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=1)
}

#search-form-header a:hover{
  -moz-box-shadow:0 1px 0 rgba(0,0,0,.15);
  box-shadow:0 1px 0 rgba(0,0,0,.15)
}

#search-form-header a:focus{
  -moz-box-shadow:inset 0 0 0 1px #fff;
  box-shadow:inset 0 0 0 1px #fff
}

#search-form-header a:hover:focus{
  -moz-box-shadow:0 1px 0 rgba(0,0,0,.15),inset 0 0 0 1px #fff;
  box-shadow:0 1px 0 rgba(0,0,0,.15),inset 0 0 0 1px #fff
}

#search-form-header a:active:active{
  border:1px solid transparent;
  -moz-box-shadow:inset 0 2px 0 rgba(0,0,0,.15);
  box-shadow:inset 0 2px 0 rgba(0,0,0,.15);
  background:#3c78dc;
  background:-moz-linear-gradient(top,#3c7ae4,#3f76d3);
  background:linear-gradient(top,#3c7ae4,#3f76d3);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4,endColorstr=#3f76d3,GradientType=1)
}

#lastResult-link-header span {
  background: transparent url(../imgDesign/packImages.png) 0 -219px no-repeat;
  padding-left:25px;
}
#advancedSearch-link-header span {
  background: transparent url(../imgDesign/packImages.png) 0 -176px no-repeat;
  padding-left:30px;
}


/* ==============
    Menu
   ============== */
#nav {
  position: relative;
  margin-top:109px;
  margin-left:25px;
  display:inline-block;
  height:45px;
  background:transparent url() bottom left repeat-x;
  z-index:102;

}
#nav a:hover {
  color:#000;
}

#nav .sm-silverpeas > li > a {
  padding: 0 2em;
  position: relative;
  font-size:1.3em;
  line-height:35px;
  height:35px;
}

#nav > ul {
  margin: 0;
  padding:0 0 6px 0;
  background:#E2E2E2  url() top left repeat;
  height:35px;
  border-radius: 4px !important;
}

#nav > ul > li:first-child  {

}

#nav > ul > li:first-child a span {
  text-indent:-3000px;
  display:inline-block;
}

#nav > ul > li:first-child a  {
  background: #E2E2E2 url(../imgDesign/packImages.png) no-repeat 9px -124px;
  padding-left: 18px;
  border-radius: 4px !important;
  height: 35px;
  width: 33px;
}

/* la fleche du  menu vers le bas */
#nav .sm-silverpeas a span.sub-arrow {
  margin-top: 0;
  right: 12px;
  border-width: 4px;
  border-style: solid dashed dashed dashed;
  border-color: #555555 transparent transparent transparent;
  background: transparent;
  border-radius: 0;
}


/* la fleche du sous menu vers la droite */
#nav .sm-silverpeas ul a span.sub-arrow {
  margin-top: -5px;
  border-width: 5px;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #555555;
}
#nav .sm-silverpeas ul > li > a {
  font-size:1.1em;
}

#nav .sm-silverpeas ul a:hover, #nav .sm-silverpeas ul a:focus, #nav .sm-silverpeas ul a:active, #nav .sm-silverpeas ul a.highlighted {
  background: #b5ddec;
  color: #000000;
}
.main {
  padding: 0 0 40px;
  overflow:hidden;
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}



#pp {
  background-color:#f3f2f2;
  border-top:1px solid #d8d8d8;
  height:30px;
  padding:10px
}

#pp a {
  color:#006198;
  text-decoration:underline;
}

.right-main-container {
  float:right;
  width:25%;
}

.right-main-container .link-more{
  float:right;
  width:40px;
  height:33px;
  text-indent:2000px;
  white-space:nowrap;
  background:#FFF url(../imgDesign/packImages.png)  4px -382px no-repeat;
  margin-top: -46px;
  opacity:0.7;
}

.right-main-container .link-more:hover{
  opacity:0.85;
}

#user-favorit-home .link-more{
  float:left;
  text-indent:-2000px;
  background:#FFF url(../imgDesign/packImages.png)  -4px -340px no-repeat;
  margin-top: -10px;
  padding-bottom:4px;
}


#user-favorit-home .link-add.manage {
  display:inline-block;
  clear:both;
  margin-top:1em;
  float: left;
  background:-moz-linear-gradient(top,#fff,#f0eeee);
  background:linear-gradient(top,#fff,#f0eeee);
  border:1px solid #d8d8d8;
  border-radius:6px;
}

#user-favorit-home .link-add.manage span{
  background:none;
  padding-right: 12px;
}
#user-favorit-home .link-more.less{
  background:#FFF url(../imgDesign/packImages.png)  -4px -422px no-repeat;
  margin-top: -10px;
  padding-bottom:4px;
}

#user-favorit-home .link-more.less:hover{
  background-position: -4px -426px;
}
.spaceHome .spaceName,
#preview .publiName, #preview-clone .publiName{
  background:#FFF url("../imgDesign/packImages.png") -10px -509px no-repeat ;
  color:#25252c;
  font-weight:100;
  border-bottom: 0 none;
  margin-top: 0;
  padding-left:28px;
  padding-bottom: 10px;
  font-size:22px;
  margin:18px 0 7px;
  font-size:24px;
  font-family:Arial;
}


#home-event h2,
.secteur-container h4,
.spaceHome #spaceManager h2.portlet-title,
.spaceHome #spaceEvent h2.portlet-title, .spaceHome #spaceQuiskInfo h2.portlet-title,
.titre-formulaire-projet,
#principal-formulaire .eventInfo,
#portletPages dl.sort dt{
  color:#61a0b8;
  background:transparent url() no-repeat scroll left bottom ;
  border-bottom: 0 none;
  margin-top: 0;
  padding:12px 0 8px 0;
  font-size:20px;
  font-weight:100;
  margin:18px 0 7px;
  float:none;
  font-family:Myriad Pro, Arial, sans serif;
  border-bottom:1px solid #ccc
}

.spaceHome #spaceManager h2.portlet-title,
.spaceHome #spaceEvent h2.portlet-title, .spaceHome #spaceQuiskInfo h2.portlet-title {
  padding-left:6px;
}

#home-event h2::first-letter,
.secteur-container h4::first-letter,
.spaceHome .spaceName::first-letter,
.spaceHome #spaceManager h2.portlet-title::first-letter,
.spaceHome #spaceEvent h2.portlet-title::first-letter, .spaceHome #spaceQuiskInfo h2.portlet-title::first-letter,
.titre-formulaire-projet::first-letter,
#principal-formulaire .eventInfo::first-letter,
#portletPages h2.portlet-title::first-letter {

}

.main-home-page  #cg-favorit-home h4{
  margin-top:0;
}

#user-favorit-home h4::first-letter {

}

#portletPages dl.sort dt {
  margin:15px 0 0;
  height:29px;
}

#directory #indexAndSearch .sp_button {
  padding:1px 5px 2px;

}

#portletPages h2.portlet-title{
  color:#6a6a6a;
  font-weight:100;
  font-size:14pt;
  text-transform:normal;
  font-variant: normal;
}

#portletPages div.portlet-content {
  padding-left:10px;
}



.spaceHome #spaceQuiskInfo h2.portlet-title ,
.spaceHome #spaceManager h2.portlet-title {
  margin-top:0;
}


.spaceHome #spaceEvent h2.portlet-title {
  border-bottom:0;
}

.right-main-container
.secteur-container h4{
  clear:both;
  padding-left:6px;
}

#home-event h2,
.right-main-container .secteur-container h4{
  clear:both;
}
#home-event  {
  position:relative;
  margin-bottom:0em;
}

.main-home-page #home-event .link-more {
  position:absolute;
  bottom:0;
  right:0;
  margin:0;
}

#home-event ul.eventList {
  margin:0; padding:0;
}


#eventList .eventInfo  {
  border:0;
  padding:0;
  margin:0 0 0 -16px;
}
.portlet li.events {
  background:#FFF url();
}

.portlet div.eventShortDate {
  background: url("../imgDesign/bgCalendar-portlet.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}

.portlet div.eventLongDate {
  color: #666666;
}

.portlet div.eventShortDate .number {
  color: #0BA6CE;
}
.portlet div.eventShortDate {
  color: #717171;
}



/*** FORMULAIRE **/

#principal-formulaire {
  float:left;
  width:70%;
}
#droite-formulaire {
  float:right;
  width:25%;
  padding:2em 2%;

}

#principal-formulaire .eventInfo {
  margin:-15px 0 1em;
}

#principal-formulaire  .a-propos-formulaire-projet-main-container {
  margin:0 0 1em;
}

#principal-formulaire .eventPlace  img{
  max-width:200px;
  max-height:150px;
}

/*** FAQ ***/
#faq-home {
  margin-bottom:-1em;
}
.FAQ-entry-main-container,
.a-propos-formulaire-projet-main-container {
  background: url("../imgDesign/packImages.png")  left -624px no-repeat;
  clear: left;
  margin: 0;
  padding-top: 0px;
  text-indent: 37px;
}

.FAQ-entry ,
.a-propos-formulaire-projet{
  background:transparent url("../imgDesign/packImages.png") bottom right no-repeat;
  padding-bottom: 10px;
  max-height: 232px;
  overflow: auto;
}
.FAQ-entry-main-container div, .FAQ-entry-main-container a {

}

.FAQ-entry-main-container .link-add {
  float: none;
}

.FAQ-entry-main-container .link-add span strong {
  color: #0BA6CE;
}

.link-add ,
.spaceHome .link-more ,
#submit-AdvancedSearch{
  background: url("../imgDesign/packBtn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  float: right;
  height: 32px;
  margin: 1em 0;
  padding-left: 10px;
}


#submit-AdvancedSearch {
  float: none;
}

.link-add span,
.spaceHome  .link-more span,
#submit-AdvancedSearch span {
  background:transparent url(../imgDesign/packBtn.png) right 0 no-repeat;
  color: #333;
  display: block;
  line-height: 32px;
  padding-right: 50px;
}
#submit-AdvancedSearch span {
  background:transparent url(../imgDesign/packBtn.png) right -700px no-repeat;
  color: #333;

}

.FAQ-entry-main-container .link-add span {
  background-position: right -32px;
  color: #333333;
  text-indent: 10px;
}

/*** END FAQ ***/

/*** WEATHER ***/
#weather-home  #ephemeride {
  font-style:italic;
  margin:1em 0;
  color:#ec8601;
}
#weather-home  #ephemeride:before {
  content:'Nous fêtons les ';
  color:#000;

}
#weather-home {
  height:160px
}

#weather-home.secteur-container  h4::first-letter {

}
#localisation-weather{
  margin-bottom:1em;
}
#localisation-weather a{
  color:#b8b8b8;
}
#localisation-weather a:hover,
#localisation-weather .select,
#localisation-weather .label{
  color:#ec8601;
}
#weather-home .day{
  width:50%;
  float:left;
}
#weather-home .day img{
  height:45px;
  float:left;
}
#weather-home .min{
  color:#f8931d;
}
#weather-home .max{
  color:#f60b3c;
}
#weather-home .day .label{
  clear:left;
  color:#b8b8b8;
  font-size:11px;
  text-align:center;
  width:61px;
}
#today-event {
  clear:both;
  padding-top:1em;
}

/*** END WEATHER ***/

/*** PDC ***/

#bloc-advancedSeach {
  clear:both;
  padding-top:0;
  margin-bottom:1.5em;
}

#bloc-advancedSeach  #query{
  border-radius:12px;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  border:1px solid #d1d1d1;
  width:90%;
  height:20px;
  box-shadow: -2px -3px 4px  rgba(0, 0, 0, 0.1) inset;
  padding:2px 2%;
  margin:0.5em 0 1em;
}
#bloc-advancedSeach #used_pdc .field .champs.pdcAxis img{
  display:none;
}

#bloc-advancedSeach #used_pdc .field label {
  display: block;
  float: left;
  padding: 5px 5px 5px 5px;
  width: 122px;
}

#bloc-advancedSeach  #used_pdc .field .champs select {
  width: 160px;
}

#bloc-advancedSeach #used_pdc .field {
  padding-left: 0;
}


#submit-AdvancedSearch:hover span{
  opacity:1;
}

/*** END PDC ***/
#user-favorit-home ul  {
  list-style-image:url(../imgDesign/puce-favorit.png);
  padding:0 0 0 30px
}
#user-favorit-home ul  a{
  line-height:10pt;
  display:block;
}
#user-favorit-home ul  li{
  padding-bottom:1em;
}
#user-favorit-home ul  a:hover{
  color:#f8931d;
}

.principal-main-container {
  margin-right:27%;
  padding-top:18px;
}
.principal-main-container .secteur-container h4,
#user-favorit-home   h4{
  padding-left:0.5em;
}

.main-home-page #cg-favorit-home {
  width:240px;
  position:absolute;
}
#user-favorit-home {
  width:240px;
  position:absolute;
  left:0;
  top:357px;
}



.principal-main-container .cg-favorit-list {
  margin:0;
  padding:0;
  list-style-type:none;
}

.principal-main-container .cg-favorit-list li{
  margin-bottom:0.5em;
}

.principal-main-container .cg-favorit-list li:nth-child(2n+1) a{
  margin-left:30px;
  margin-right:15px;
}

.principal-main-container .cg-favorit-list a {
  margin-left:30px;
  background-color:#a9aaab;
  font-size:12pt;
  float:left;
  margin-bottom:15px;
  width:70px;
  display:block;
}

.principal-main-container .cg-favorit-list a:hover {
  background-color:#61a0b8;
}

.principal-main-container .cg-favorit-list a span {
  display:none
}

.principal-main-container .cg-favorit-list a img {
  width:70px;
}


.rslides  {
  padding:0;
  height:auto
}

.rslides li {
  width:100%;
  height:auto
}

.rslides li img{
  width:100%;
}

.rslides .caption {
  position: absolute;
  display: block;
  top: auto;
  bottom: 1em;
  left: auto;
  right: 0;
  padding: 0 0.5em;
  text-align: right;
  background: #FFF none repeat scroll 0% 0%;
  color: #FFF;
  margin: 0px;
  width: auto;
  max-width: 90%;
  max-height: auto;
  overflow: auto;
  border-radius:8px 0 0 8px;
  opacity:0.85;
}

.rslides .caption h2 a,
.rslides .caption p{
  color:#444;
  font-size:13px;
  font-weight:100;
}
.rslides .caption h2 a {
  font-size:16px;
  font-weight:bold;
  color:#444
}

.centered-btns_nav {
  top:9em;
  opacity:0.95;
}

.rslides li {
  height: auto;
}

/*********** News as list *******************/
#carrousel-actualite .list-news {
  padding:0;
  height:auto
}

#carrousel-actualite .list-news li {
  width:100%;
  height:100px;
}

#carrousel-actualite .list-news li img{
  width: 200px;
  float: left;
}

#carrousel-actualite .list-news .caption {
  margin-left: 206px;
  margin-right: 50px;
}

#carrousel-actualite .list-news .caption h2 a,
#carrousel-actualite .list-news .caption p{
  color:#444;
  font-size:13px;
  font-weight:100;
}
#carrousel-actualite .list-news .caption h2 a {
  font-size:16px;
  font-weight:bold;
}
#carrousel-actualite .list-news .caption h2 {
  margin: 0px;
}

#carrousel-actualite .list-news .caption .news-date:after {
  content: " - ";
}

#carrousel-actualite  {
  margin-left:260px;
  position:relative;
  overflow:hidden;
}
.main-home-page #last-publication-home,
.main-home-page #rssNews,
.main-home-page #freeZone {
  margin-left: 260px;
  margin-top: 1em;
}

#carrousel-actualite li>a {
  font-weight: bold;
}

#actualite-magique-home {
  clear:left;
}

.actualite-magique-main-container {
  background-color:#f9f8f8;
  margin-top:-12px;
}

#la-magie {
  float:left;
  margin-right:46px;
}


.actualite-magique-main-container span {color:#f8931d;font-size:120%; padding-top:1em ; display:block}
.actualite-magique-main-container ul {margin:0 ; padding:0 0 0 12px; list-style-image:url(../imgDesign/puce.png);}
.actualite-magique-main-container ul li{margin:1em 0 0 12px ; padding:0;}
.actualite-magique-main-container strong {display:block; text-transform:uppercase}

/* ===============
    ALL: IE Fixes
   =============== */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {




}
@media only screen and (min-width: 768px) {

  /* ===============
       présentation a partir de 768
       =============== */


}
@media only screen and (min-width: 980px) {

  /* ===============
     préasentation a partir de 1024
     =============== */


}
@media only screen and (min-width: 1200px) {

}
@media only screen and (min-width: 1800px) {


}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images,
or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group; /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}



/****** Ticker ******/
#sp-layout-header-part #desktop-notifications-permission {
  background: url('/silverpeas/util/icons/cog.png') no-repeat scroll 0 0 transparent;
  line-height: 17px;
  padding-left: 20px;
  position: absolute;
  right: 0;
  top:1px;
  padding-right:1em;
  font-weight:bold;
  color:#000
}

#sp-layout-header-part #ticker {
  display: none;
  background-color: #FAE5B3;
  height: 22px;
  left: 0;
  position: absolute;
  right: 0;
  top: 42px;
  z-index: 101;
  border-top: 1px solid #F7AF01;
  border-bottom: 1px solid #F7AF01;
}

#sp-ticker .ticker-wrapper.has-js {
  background-color: transparent;
  border-radius: 0;
  display: block;
  font-size: 0.75em;
  height: 22px;
  margin:0;
  padding: 0;
  width: 100%;
}
#sp-ticker {
  display:block;
}

#sp-ticker .ticker {
  background-color: transparent;
  display: block;
  height: 22px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#sp-ticker .ticker-title {
  padding-top: 2px;
  padding-left:1em;
  color: #000;
  font-weight: bold;
  background-color: transparent;
  text-transform: uppercase;
}
#sp-ticker .ticker-content {
  margin: 0px;
  padding-top: 3px;
  position: absolute;
  color: #000;
  font-weight: 100;
  background-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.2em;
  padding-left:1em;
}

#sp-ticker .ticker-content .ticker-item-date {
  color: #000;
}

#sp-ticker a span{
  color: #000;
}

/********************** ***************************/

#rssNews.onceChannel-true h4 {
  border-bottom: none;
}